doctype html
html(ng-app)
	head
		title BuzzerdHost
		link(rel='stylesheet', href='/css/bootstrap.min.css')
	body
		div(ng-controller='AppCtrl', class="col-md-12" )
			H1 Host Controller
			
			div(id='phase_input' class="col-md-12" class="panel panel-default")

				H3 Current Phase: {{gameState.phase}}

				div(class='btn-group')
					button(ng-repeat="phase in gameState.phase_options" 
						type="button" 
						class="btn btn-default" 
						ng-value="phase"
						ng-click="changePhase(phase)") {{phase}}
				p
				div(class='btn-group')
					H3 Round {{gameState.round}}
					button(ng-repeat="round in gameState.rounds" 
						type="button" 
						class="btn btn-default" 
						ng-value="round"
						ng-click="changeRound(round)") {{round}}
				p
				div(class='btn-group')
					H3 Hot Seat: {{gameState.hot_player}}
					button(ng-repeat="hot_seat in gameState.hot_seats" 
						type="button" 
						class="btn btn-default" 
						ng-value="hot_seat"
						ng-click="changeHotseat({hot_player:hot_seat.username})") {{hot_seat.username}}
					button(ng-click="changeHotseat('')" class="btn btn-good") NoOne
				p

			div(class="col-md-12")
				H3 Hot Seat
				div(ng-repeat="player in gameState.players" class="col-md-5" class="panel panel-default")
					div(class='panel-body-sm' ng-show="player.username == gameState.hot_player")
						H5 Team: {{player.username}} 
						H5 Members: {{player.members}}


						div(class='well well-default')
							p Score: {{ gameState.scores[player.username] }}

							div(class='btn-group')
								button(ng-repeat="score in gameState.score_buttons"
									ng-click="addPoints({player:player, points:score})"
									type="button"
									class="btn btn-default"
									ng-value='score') {{score}}
			p
			div(class="col-md-12")
				div(ng-repeat="player in gameState.players" class="col-md-5" class="panel panel-default")
					div(class='panel-body-sm')
						H5 Team: {{player.username}} 
						H5 Members: {{player.members}}


						div(class='well well-default')
							p Score: {{ gameState.scores[player.username] }}

							div(class='btn-group')
								button(ng-repeat="score in gameState.score_buttons"
									ng-click="addPoints({player:player, points:score})"
									type="button"
									class="btn btn-default"
									ng-value='score') {{score}}





			div(class="col-md-2")
				H4 Powered by:
				img(src='img/Buzzerd-logo.png', width="100", height="80")
				p (c) Wachi 2014
			div(class="col-md-10")
				p phase {{gameState.phase}}
				p players {{gameState.players}}
				p clientPlayerDict {{gameState.clientPlayerDict}}
				p gamestate {{gameState}}
			button(class="btn btn-danger" ng-click="resetGame()" type="button" ) reset game
		script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js')
		script(src='/js/ui-bootstrap-tpls-0.10.0.js')
		script(src='/socket.io/socket.io.js')
		script(src='/js/app.js')
		script(src='/services.js')
		script(src='/js/filters.js')
		script(src='/js/directives.js')
		script(src='/hostng.js')



