doctype html
html(ng-app)
	head
		title BuzzerdPlayer
		link(rel='stylesheet', href='/css/bootstrap.min.css')
	body
		div(ng-controller='AppCtrl', class="col-md-12")
			div
				H1 Team: {{username}}
				H5 Members: {{members}}
				H3 Score: {{gameState.scores[username]}}


			div(id='registration_input' ng-show="gameState.phase == gameState.phaseOpt.REGISTER" class="well well-default")

				h3 Team Registration Form
				
				form(ng-submit="sendUsername()")
					div(class='form-horizontal')
						div(class='form-group')
							label(for='teamName' class="col-sm-2 control-label") Team Name:
							div(class="col-sm-8")
								input(id='teamName' class='form-control' type='text', size='60' ng-model='username' placeholder='enter team name')
						div(class='form-group')
							label(for='memberNames' class="col-sm-2 control-label") Member(s):
							div(class="col-sm-8")
								input(id='memberNames' class='form-control' type='text', size='100' ng-model='members' placeholder='enter member name(s)')
						p.
						input(type='submit', class='btn btn-default' value='Register')

			div(ng-hide="gameState.phase == gameState.phaseOpt.REGISTER" 
				class="well well-default")
				h3 Answer Form
				input(class='form-control' 
					ng-disabled="gameState.phase == gameState.phaseOpt.LOCK"
					type='text', size='100' ng-model='answer' placeholder='enter answer here')
				p
				input(ng-click="buzzer({username:username, answer:answer})" 
					ng-disabled="gameState.phase == gameState.phaseOpt.LOCK"
					class='btn btn-default' type='button' value="buzzer") 

			div(class="col-md-2")
				H4 Powered by:
				a(href="https://github.com/swachi/buzzerd")
					img(src='img/Buzzerd-logo.png', width="100", height="80")
				p (c) Wachi 2014

		script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='/js/app.js')
		script(src='/services.js')
		script(src='/js/filters.js')
		script(src='/js/directives.js')
		script(src='/playerng.js')